<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" , enctype="multipart/form-data">
    {% csrf_token %}


<h1>CONTROLLER UPLOAD FORM</h1>


{{ form.as_p }}
<input type="submit" value="Send File">

</body>
</html>